<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
</head>

<body class="hold-transition sidebar-mini">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script type="text/javascript"  src="/js/funcionesUsuarios.js"></script>
    <div class="wrapper">
       {{> navbar}}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Usuarios</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">{{ consecutivo }}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Usuarios registrados en el sistema</h3>
                                    <div class="col-lg-12" style="float: right; width: 16%; margin-right: -1.2%">
                                    <a class="btn btn-success text-nowrap" href="/registroUsuario">
                                        Agregar Usuario</a>
                                    </div>
                                </div>
                                    <div class="row">
                                            <div class="">
                                                <div class="form-group" style="padding-left: 6px;">
                                                    <label for="searchInput">Buscar:</label>
                                                    <input type="text" id="searchInput" class="form-control"
                                                        placeholder="Ingrese término de búsqueda" style="width: 110%;">

                                                </div>
                                            </div>
                                        <div style="padding-left:40px; padding-top:30px" >
                                            <button class="btn btn-success" id="btnGenerarExcel">
                                                <i class="fas fa-file-excel" style="font-size: 14px;"></i> Descargar
                                                Excel
                                            </button>
                                        </div>

                                    </div>

                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listaUsuarios">
                                            {{#each lista_usuarios}}
                                            <tr>
                                                <td>{{ id_Usuario }}</td>
                                                <td>{{ nombre_Usuario }}</td>
                                                <td>{{ correo_Usuario }}</td>
                                                <td>{{ estado_Usuario }}</td>
                                                <td>
                                                    <a class='btn btn-primary' href="/editarUsuario"><i class="bi bi-pencil-square"></i></a>
                                                    <a class="btn btn-warning" onclick="showConfirmationDialog()"><i class="bi bi-toggle-on"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2023 CosmeTIC.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://kit.fontawesome.com/4de2284caa.js" crossorigin="anonymous"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>
    <!-- Page specific script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script>
        function exportarExcel() {
            // Obtener la tabla de datos
            const table = document.getElementById('listaUsuarios');

            // Crear una nueva instancia de Workbook de SheetJS
            const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });

            // Generar el archivo Excel
            const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });

            // Convertir el archivo a un objeto Blob
            const blob = new Blob([wbout], { type: 'application/octet-stream' });

            // Crear un enlace para descargar el archivo
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = 'tabla_usuarios.xlsx';
            link.click();

            // Liberar recursos
            setTimeout(() => URL.revokeObjectURL(url), 100);
        }

        // Asigna el evento click al botón de descarga del Excel
        const btnGenerarExcel = document.getElementById('btnGenerarExcel');
        btnGenerarExcel.addEventListener('click', exportarExcel);
    </script>
</body>

</html>
